---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      version: "25.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 5m
      valuesFile: values.yaml
  interval: 5m
  timeout: 20m
  install:
    timeout: 20m
    disableWait: false
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    timeout: 20m
    disableWait: false
    crds: CreateReplace
  valuesFrom:
    - kind: ConfigMap
      name: values
