# Config reference: https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true  # Required by current oauth2-proxy setup
  kubernetesIngress:
    publishedService:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true

service:
  annotations:
    metallb.universe.tf/address-pool: default

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https

  websecure:
    http3:
      enabled: false

deployment:
  replicas: 2

resources:
  requests:
    cpu: "100m"
    memory: "50Mi"
  limits:
    cpu: "300m"
    memory: "150Mi"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: '{{ template "traefik.name" . }}'
            app.kubernetes.io/instance: '{{ .Release.Name }}-{{ .Release.Namespace }}'
        topologyKey: kubernetes.io/hostname
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: '{{ template "traefik.name" . }}'
          topologyKey: kubernetes.io/hostname
  #podAffinity:
  #  requiredDuringSchedulingIgnoredDuringExecution:
  #    - labelSelector:
  #        matchLabels:
  #          app.kubernetes.io/name: metallb
  #          app.kubernetes.io/component: speaker
  #      topologyKey: kubernetes.io/hostname

metrics:
  prometheus:
    service:
      enabled: true
    serviceMonitor:
      honorLabels: true

logs:
  access:
    enabled: true
    format: common

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.3.5
    oidc:
      moduleName: github.com/sevensolutions/traefik-oidc-auth
      version: v0.17.0
