# Config reference: https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

# Create a default IngressClass for Traefik
ingressClass:
  enabled: true
  name: public
  isDefaultClass: true

providers:
  kubernetesIngress:
    ingressClass: public

service:
  spec:
    loadBalancerIP: "192.168.50.129"
