apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: sonarr
    app.kubernetes.io/part-of: sonarr
    app.kubernetes.io/version: 3.0.6.1451
  name: sonarr
  namespace: multimedia
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: server
      app.kubernetes.io/name: sonarr
      app.kubernetes.io/part-of: sonarr
  serviceName: sonarr
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: sonarr
      labels:
        app.kubernetes.io/component: server
        app.kubernetes.io/name: sonarr
        app.kubernetes.io/part-of: sonarr
        app.kubernetes.io/version: 3.0.6.1451
    spec:
      containers:
      - env:
        - name: TZ
          value: Europe/Berlin
        - name: PUID
          value: "1000"
        - name: GUID
          value: "1000"
        image: lscr.io/linuxserver/sonarr:develop-3.0.6.1451-ls247
        imagePullPolicy: IfNotPresent
        name: sonarr
        ports:
        - containerPort: 8989
          name: http
        readinessProbe:
          failureThreshold: 5
          initialDelaySeconds: 2
          tcpSocket:
            port: http
          timeoutSeconds: 10
        resources:
          requests:
            cpu: 60m
            memory: 635Mi
        startupProbe:
          failureThreshold: 60
          initialDelaySeconds: 0
          periodSeconds: 5
          tcpSocket:
            port: http
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: /config
          name: config
        - mountPath: /backup
          name: backup
        - mountPath: /multimedia
          name: multimedia
        - mountPath: /download/completed
          name: downloads
      - args:
        - exportarr
        - sonarr
        env:
        - name: CONFIG
          value: /app/config.xml
        - name: URL
          value: http://localhost
        - name: PORT
          value: "9707"
        image: ghcr.io/onedr0p/exportarr:v0.6.2
        name: exportarr
        ports:
        - containerPort: 9707
          name: metrics
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /healthz
            port: metrics
          periodSeconds: 10
        resources:
          limits:
            cpu: 50m
            memory: 100Mi
          requests:
            cpu: 1m
            memory: 11Mi
        volumeMounts:
        - mountPath: /app
          name: config
          readOnly: true
      initContainers:
      - args:
        - -c
        - cd /config && unzip $(find /backup -type f -exec stat -c '%n' {} + | sort
          -r | head -n1) && chown 1000:1000 /config/*
        command:
        - /bin/sh
        image: quay.io/paulfantom/rsync
        name: restore
        volumeMounts:
        - mountPath: /config
          name: config
        - mountPath: /backup
          name: backup
          readOnly: true
      nodeSelector:
        kubernetes.io/arch: amd64
        storage.infra/main: "true"
      restartPolicy: Always
      serviceAccountName: sonarr
      volumes:
      - emptyDir: {}
        name: config
      - name: backup
        persistentVolumeClaim:
          claimName: sonarr-config-backup
      - name: multimedia
        persistentVolumeClaim:
          claimName: tv
      - name: downloads
        persistentVolumeClaim:
          claimName: downloaded
