# Config reference: https://github.com/topolvm/topolvm/blob/main/charts/topolvm/values.yaml

scheduler:
  enabled: false

lvmd:
  # lvmd.managed -- If true, set up lvmd service with DaemonSet.
  managed: true
  deviceClasses:
    - name: main
      volume-group: ubuntu-vg
      spare-gb: 20
    - name: secondary
      volume-group: secondary-vg
      spare-gb: 5
    - name: thin
      volume-group: secondary-vg
      default: true
      spare-gb: 1
      type: thin
      thin-pool:
        name: thin-pool0
        overprovision-ratio: 5.0

node:
  metrics:
    enabled: true
  prometheus:
    podMonitor:
      enabled: true
      relabelings:
      - action: replace
        sourceLabels:
        - __meta_kubernetes_pod_node_name
        targetLabel: node
  priorityClassName: system-node-critical

controller:
  storageCapacityTracking:
    enabled: true
  prometheus:
    podMonitor:
      enabled: true
  priorityClassName: system-cluster-critical

storageClasses:
  - name: lvm-main
    storageClass:
      fsType: xfs
      reclaimPolicy: Delete
      annotations: {}
      isDefaultClass: false
      volumeBindingMode: WaitForFirstConsumer
      allowVolumeExpansion: true
      additionalParameters:
        "topolvm.io/device-class": "main"
  - name: lvm-secondary
    storageClass:
      fsType: xfs
      reclaimPolicy: Delete
      annotations: {}
      isDefaultClass: false
      volumeBindingMode: WaitForFirstConsumer
      allowVolumeExpansion: true
      additionalParameters:
        "topolvm.io/device-class": "secondary"
  - name: lvm-thin
    storageClass:
      fsType: xfs
      reclaimPolicy: Delete
      annotations: {}
      isDefaultClass: false
      volumeBindingMode: WaitForFirstConsumer
      allowVolumeExpansion: true
      additionalParameters:
        "topolvm.io/device-class": "thin"

webhook:
  podMutatingWebhook:
    enabled: false

podSecurityPolicy:
  create: false

cert-manager:
  enabled: false

priorityClass:
  enabled: false
