apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  labels:
    app.kubernetes.io/component: webservice
    app.kubernetes.io/name: paperless
  name: paperless-secrets
  namespace: paperless
spec:
  data:
    - remoteRef:
        key: PAPERLESS_ADMIN_EMAIL
      secretKey: PAPERLESS_ADMIN_MAIL
    - remoteRef:
        key: PAPERLESS_ADMIN_PASS
      secretKey: PAPERLESS_ADMIN_PASSWORD
    - remoteRef:
        key: PAPERLESS_ADMIN_USER
      secretKey: PAPERLESS_ADMIN_USER
    - remoteRef:
        key: PAPERLESS_SECRET_KEY
      secretKey: PAPERLESS_SECRET_KEY
    - remoteRef:
        key: PAPERLESS_OAUTH_CLIENT_SECRET
      secretKey: OAUTH_CLIENT_SECRET
    - remoteRef:
        key: PAPERLESS_OAUTH_CLIENT_ID
      secretKey: OAUTH_CLIENT_ID
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-auth-api
  target:
    name: paperless-secrets
    template:
      mergePolicy: Merge
      data:
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"SCOPE":["openid","profile","email"],"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"pocket-id","name":"Pocket-ID","client_id":"{{.OAUTH_CLIENT_ID}}","secret":"{{.OAUTH_CLIENT_SECRET}}","settings":{"server_url":"https://login.krupa.net.pl"}}]}}'
