# helm chart values reference: https://github.com/grafana/loki/blob/main/production/helm/loki/values.yaml

minio:
  # Using dedicated external Minio Cluster
  enabled: false

# TODO: Enable when we have tracing
#tracing:
#  jaegerAgentHost: ""

# TODO: Enable when locking down cluster
networkPolicy:
  # -- Specifies whether Network Policies should be created
  enabled: false

# This is not a loki `index_gateway`!
gateway:
  # Disable gateway component as we are handling routing and auth on traefik level
  enabled: false

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: datalake-logs-basicauth@kubernetescrd
  ingressClassName: public
  paths:
    write:
      - /loki/api/v1/push
    read: null
    singleBinary: null
  hosts:
  - logs.datalake.ankhmorpork.thaum.xyz
  tls:
  - hosts:
    - logs.datalake.ankhmorpork.thaum.xyz
    secretName: ingress-logs-tls

write:
  replicas: 3
  autoscaling:
    enabled: false
  extraArgs:
  - -config.expand-env=true
  #- -log.level=debug
  extraEnvFrom:
  - secretRef:
      name: s3-credentials
  persistence:
    size: 20Gi
    storageClass: lvm-thin

read:
  replicas: 2
  autoscaling:
    enabled: false
  extraArgs:
  - -config.expand-env=true
  #- -log.level=debug
  extraEnvFrom:
  - secretRef:
      name: s3-credentials

backend:
  replicas: 2
  autoscaling:
    enabled: false
  extraArgs:
  - -config.expand-env=true
  extraEnvFrom:
  - secretRef:
      name: s3-credentials
  persistence:
    size: 2Gi
    storageClass: longhorn

tableManager:
  enabled: false

test:
  enabled: false

monitoring:
  serviceMonitor:
    enabled: true
    metricsInstance:
      enabled: false
  rules:
    enabled: true
  dashboards:
    enabled: true
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false  # It is using loki-gateway SVC which is disabled

# configStorageType: ConfigMap
loki:
  auth_enabled: false  # Disable multi-tenancy
  analytics:
    reporting_enabled: false
  compactor:
    retention_enabled: true
  limits_config:
    retention_period: 122d
  storage:
    bucketNames:
      chunks: minio-ankhmorpork-thaum-xyz
      ruler: minio-ankhmorpork-thaum-xyz
    type: s3
    s3:
      endpoint: https://s3.eu-central-003.backblazeb2.com
      s3ForcePathStyle: true
      secretAccessKey: "${S3_SECRET_KEY}"
      accessKeyId: "${S3_ACCESS_KEY}"
