apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  labels:
    app.kubernetes.io/name: postgres
  name: postgres-sonarr
  namespace: multimedia
spec:
  affinity:
    enablePodAntiAffinity: true
    podAntiAffinityType: required
    topologyKey: kubernetes.io/hostname
  backup:
    barmanObjectStore:
      destinationPath: s3://minio-ankhmorpork-thaum-xyz/postgres/sonarr
      endpointURL: https://s3.eu-central-003.backblazeb2.com
      s3Credentials:
        accessKeyId:
          key: S3_ACCESS_KEY
          name: postgres-sonarr-backup
        secretAccessKey:
          key: S3_SECRET_KEY
          name: postgres-sonarr-backup
      wal:
        compression: gzip
    retentionPolicy: 7d
  bootstrap:
    initdb:
      database: sonarr
      owner: sonarr
      postInitSQL:
        - CREATE DATABASE logs;
        - ALTER DATABASE logs OWNER TO sonarr;
      secret:
        name: postgres-sonarr-user
  instances: 2
  monitoring:
    enablePodMonitor: true
  resources:
    requests:
      cpu: 130m
      memory: 300Mi
  storage:
    size: 10Gi
    storageClass: lvm-thin
  superuserSecret:
    name: postgres-sonarr-admin
