apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    ignore-check.kube-linter.io/privileged-container: kured needs priv container to
      work
  labels:
    app.kubernetes.io/name: kured
    app.kubernetes.io/part-of: kured
    app.kubernetes.io/version: 1.8.0
  name: kured
  namespace: system-update
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kured
      app.kubernetes.io/part-of: kured
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kured
        app.kubernetes.io/part-of: kured
        app.kubernetes.io/version: 1.8.0
      name: kured
      namespace: system-update
    spec:
      containers:
      - args:
        - --ds-name=kured
        - --ds-namespace=system-update
        - --reboot-days=sun,fri,sat
        - --period=2m
        command:
        - /usr/bin/kured
        env:
        - name: KURED_NODE_ID
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        image: quay.io/paulfantom/kured:1.8.0
        imagePullPolicy: IfNotPresent
        name: kured
        ports:
        - containerPort: 8080
          name: metrics
        resources:
          limits:
            cpu: 60m
            memory: 30Mi
          requests:
            cpu: 14m
            memory: 23Mi
        securityContext:
          privileged: true
          readOnlyRootFilesystem: true
      hostPID: true
      nodeSelector:
        kubernetes.io/arch: arm64
      restartPolicy: Always
      serviceAccountName: kured
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
  updateStrategy:
    type: RollingUpdate
