apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/name: kured
    app.kubernetes.io/part-of: kured
    app.kubernetes.io/version: 1.12.2
  name: kured
  namespace: system-update
rules:
- apiGroups:
  - apps
  resourceNames:
  - kured
  resources:
  - daemonsets
  verbs:
  - update
