apiVersion: v1
automountServiceAccountToken: false
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: kured
    app.kubernetes.io/part-of: kured
    app.kubernetes.io/version: 1.8.0
  name: kured
  namespace: system-update
