roles/*
!roles/requirements.yml
!roles/system/*
!roles/system
!roles/rpi/*
!roles/rpi
!roles/fans/*
!roles/fans
*.retry
ansible/kubeconfig
master.key
.kube
bin/
templates/
vendor/
.crdschemas/
.cache_ggshield
tmp/
apps/snmp/mibs/
apps/snmp/snmp.yml
apps/homeassistant/config/secrets.yaml
apps/homeassistant/config/google_service_account.json
