roles/*
!roles/requirements.yml
!roles/k3s-*
*.retry
metal/kubeconfig
master.key
.kube
bin/
vendor/
.crdschemas/
.cache_ggshield
tmp/
apps/snmp/mibs/
apps/snmp/snmp.yml
apps/homeassistant/config/secrets.yaml
apps/homeassistant/config/google_service_account.json
apps/monitoring/dashboards
