apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: pushgateway
    app.kubernetes.io/version: 1.6.2
  name: pushgateway
  namespace: monitoring
spec:
  endpoints:
  - honorLabels: true
    interval: 30s
    port: http-push
  selector:
    matchLabels:
      app.kubernetes.io/component: exporter
      app.kubernetes.io/name: pushgateway
