apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-books
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 500Gi
  nfs:
    path: /var/nfs/shared/books
    server: 192.168.40.10
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  volumeMode: Filesystem
