apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-tv
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 6Ti
  nfs:
    path: /var/nfs/shared/tvshows
    server: 192.168.40.10
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  volumeMode: Filesystem
