apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-movies
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 8Ti
  nfs:
    path: /var/nfs/shared/movies
    server: 192.168.40.10
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  volumeMode: Filesystem
