apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: github-webhook-token
  namespace: flux-system
spec:
  encryptedData:
    token: AgBY2JKgm87ol6rvnhDKyq8gJmTQ1Ba+mGRDeBTbtg1mQ+ylbK5iwGp+BHt9asywIxbaC1H+4Dq6Ozr1j2kzDO57IDgCO79z8LKmTsPLuu/9C6CQWflbuPxob5rRbeoMF96AlhhbRJxhSeD4c2n5tvT30tzLQyLSNxl+GZ+ZnVk3td2vS4j+MFzJq5bWeZ5w1xi6tMGZHHdZ3kM3bduGNG8MvtfcxrhXmd5HNZL4XNATQms3MUzM2ms9e7j4XRUJCvmqnuT3HKdUCW+LL57dpMqXeiQBGDvwvzmv/P5TGoe3LMlEpWm0Pq8s1TrHlG5MXK0+5npglcFLDHfiyXwVab/MlPa7Sa5d4GUOngdUcWRKpTQbWDTH8JDdHCoG3voZml4gpAhzHVNx66GID6/wFLLk9kEXyEQ17hongTavT1gOHMse225yOftG7nyAEpvSSZYDcEyHzfIWvkC+l0Vv8acceCuEmJjTSxvpxge9OCZ7BhVrA9bbBUOf7/ea25mBpIvTFAujoCwegAEFbwOYx8PZRviDrgWOc3ea6Y0k1wlYtUjAKCHkesKFPynEFvVwNbDw9f0Q23M1jI51Xzsm5osHZuKxGi11yl/+oWBWlqAjyiv7r+2f5zVE3cqzqO5zmCydMkrMhQADlOmQ0qV4eiqU05EcdBm05270g8NuDuZkT9/0BTVJsnlILYr+2QAUmAkPDBb6KU8WcC6cvJXHWoi6qkTgmBqyfT/P0af2umVJTcdhYps3KGX8
  template:
    data: null
    metadata:
      creationTimestamp: null
      name: github-webhook-token
      namespace: flux-system
