# Config reference: https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

# Create a default IngressClass for Traefik
ingressClass:
  enabled: true
  name: private
  isDefaultClass: false

providers:
  kubernetesIngress:
    ingressClass: private

service:
  spec:
    loadBalancerIP: "192.168.50.130"
    #externalTrafficPolicy: Local

#additionalArguments:
#  - "--entrypoints.web.http.middlewares=crowdsec-crowdsec-bouncer@kubernetescrd"
#  - "--entrypoints.websecure.http.middlewares=crowdsec-crowdsec-bouncer@kubernetescrd"
