[defaults]
inventory = inventory
ansible_managed = "Ansible managed file. Be wary of possible overwrites."
host_key_checking = False
gathering = smart

# strategy_plugins = /usr/local/lib/python3.8/site-packages/ansible_mitogen/plugins/strategy
# strategy = mitogen_linear

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s -o PreferredAuthentications=publickey
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining = True
scp_if_ssh = True
scp_extra_args = "-O"
