# Reference - https://docs.cilium.io/en/stable/helm-reference/#id1

bpf:
  hostLegacyRouting: false
  masquerade: true
  datapathMode: netkit
  distributedLRU:
    enabled: true
  mapDynamicSizeRatio: 0.08
bpfClockProbe: true
enableIPv4BIGTCP: true
enableIPv4Masquerade: true
cluster:
  name: ankhmorpork
cni:
  uninstall: false
ipam:
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList:
    - 10.42.0.0/16
k8s:
  apiServerURLs: "https://192.168.50.31:6443 https://192.168.50.32:6443 https://192.168.50.33:6443"
kubeProxyReplacement: true
priorityClassName: system-node-critical
policyEnforcementMode: never

routingMode: native
ipv4NativeRoutingCIDR: 192.168.50.0/24
autoDirectNodeRoutes: true

securityContext:
  capabilities:
    ciliumAgent:
      # Defaults redefined due to how helm merges lists
      - "CHOWN"
      - "KILL"
      - "NET_ADMIN"
      - "NET_RAW"
      - "IPC_LOCK"
      - "SYS_MODULE"
      - "SYS_ADMIN"
      - "SYS_RESOURCE"
      - "DAC_OVERRIDE"
      - "FOWNER"
      - "SETGID"
      - "SETUID"
      # Added to allow BGP peering on port 179
      - "CAP_NET_BIND_SERVICE"

bgpControlPlane:
  enabled: true

rollOutCiliumPods: true
loadBalancer:
  mode: dsr
  dsrDispatch: opt
  algorithm: maglev

#l2announcements:
#  enabled: true
#  leaseDuration: 60s
#  leaseRenewDeadline: 3s

#k8sClientRateLimit:
#  qps: 2
#  burst: 6

#ipMasqAgent:
#  enabled: true

operator:
  replicas: 1
  priorityClassName: system-cluster-critical
  unmanagedPodWatcher:
    restart: false
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true

hubble:
  metrics:
    enabled:
      - dns:query;ignoreAAAA
      - drop
      - tcp
      - flow
      - icmp
      - http
    serviceMonitor:
      enabled: true
