apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app.kubernetes.io/name: windows-exporter
    app.kubernetes.io/part-of: kube-prometheus
  namespace: monitoring
subsets:
- addresses:
  - ip: 192.168.2.50
  - ip: 192.168.2.51
  ports:
  - name: http
    port: 9182
