---
k3s_version: v1.22.3-rc4+k3s1
k3s_master_ip: "{{ hostvars[groups['k3s-master'][0]]['ansible_default_ipv4']['address'] }}"
k3s_extra_server_args: >-
  --disable servicelb
  --disable traefik
  --disable local-storage
  --disable-cloud-controller
  --node-taint node-role.kubernetes.io/control-plane=true:NoSchedule
  --kubelet-arg system-reserved=cpu=100m,memory=200Mi
  --kubelet-arg kube-reserved=cpu=100m,memory=300Mi
  --kube-controller-manager-arg address={{ k3s_master_ip }}
  --kube-scheduler-arg address={{ k3s_master_ip }}
  --etcd-expose-metrics=true
  --kube-proxy-arg metrics-bind-address=0.0.0.0

k3s_token: "{{ hostvars[groups['k3s-master'][0]]['token'] }}"

k3s_extra_agent_args: >-
  --kubelet-arg kube-reserved=cpu=100m,memory=200Mi
  --kubelet-arg system-reserved={{ kubelet_system_resources | default('cpu=100m,memory=200Mi') }}
  --kubelet-arg allowed-unsafe-sysctls=net.ipv4.tcp_adv_win_scale
  --node-label network.infra/type={{ network | default('slow') }}
  --node-label storage.infra/local={{ 'true' if k3s_local_storage_device is defined else 'false' }}
  --kube-proxy-arg metrics-bind-address=0.0.0.0

system_earlyoom_params: "-r 60 -m 4"

system_mountpoints:
  - description: k3s local storage
    before: k3s-node.service
    device: "{{ k3s_local_storage_device }}"
    mountpoint: "/var/lib/rancher/k3s/storage"
    type: "ext4"
