{{ ansible_managed | comment }}
[Unit]
Description = {{ item.description }}
{% if item.requires is defined %}
Requires = {{ item.requires }}
{% endif %}
{% if item.after is defined %}
After = {{ item.after }}
{% endif %}
{% if item.before is defined %}
Before = {{ item.before }}
{% endif %}
[Mount]
What = {{ item.device }}
Where = {{ item.mountpoint }}
Type = {{ item.type }}
Options = {{ item.options | default("defaults") }}
[Install]
WantedBy = multi-user.target
