apiVersion: v1
kind: PersistentVolume
metadata:
  name: downloads
  namespace: multimedia
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 120Gi
  nfs:
    path: /var/nfs/shared/transmission
    server: 192.168.40.10
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  volumeMode: Filesystem
