apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: downloaded
  namespace: multimedia
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: qnap-nfs
