kind: Deployment
apiVersion: apps/v1
metadata:
  name: mealie
  labels:
    app.kubernetes.io/name: mealie
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie
    spec:
      containers:
      - name: mealie
        image: ghcr.io/mealie-recipes/mealie:v2.5.0
        env:
        - name: ALLOW_SIGNUP
          value: 'false'
        - name: PUID
          value: '1000'
        - name: PGID
          value: '1000'
        - name: TZ
          value: Europe/Warsaw
        - name: BASE_URL
          value: https://recipes.krupa.net.pl
        - name: OIDC_AUTH_ENABLED
          value: 'True'
        - name: OIDC_SIGNUP_ENABLED
          value: 'True'
        - name: OIDC_CONFIGURATION_URL
          value: https://login.krupa.net.pl/.well-known/openid-configuration
        - name: OIDC_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: oidc-client
              key: clientID
        - name: OIDC_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: oidc-client
              key: clientSecret
        - name: OIDC_ADMIN_GROUP
          value: admin
        - name: OIDC_USER_GROUP
          value: mealie
        - name: DB_ENGINE
          value: postgres
        - name: POSTGRES_SERVER
          value: postgres-rw
        - name: POSTGRES_PORT
          value: '5432'
        - name: POSTGRES_DB
          value: mealie
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-user
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-user
              key: password
        ports:
        - containerPort: 9000
          name: http
        resources:
          limits:
            cpu: 1
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
        - name: data
          mountPath: /app/data/
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: data
