# Reference documentation: https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/values.yaml

txtOwnerId: thaum.xyz
txtPrefix: k8s.

policy: sync
domainFilters:
  - thaum.xyz
  - krupa.net.pl

registry: txt
triggerLoopOnEvent: true
logLevel: &logLevel debug

serviceMonitor:
  enabled: true

extraArgs:
  - --ignore-ingress-tls-spec
  - --fqdn-template={{`{{`}}.Name{{`}}`}}.{{`{{`}}.Namespace{{`}}`}}.ankhmorpork.thaum.xyz
  - --service-type-filter=LoadBalancer

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/kashalls/external-dns-unifi-webhook
      tag: v0.7.0
    env:
      - name: LOG_LEVEL
        value: *logLevel
      - name: UNIFI_HOST
        value: https://192.168.1.1 # replace with the address to your UniFi router/controller
      - name: UNIFI_EXTERNAL_CONTROLLER
        value: "false"
      - name: UNIFI_API_KEY
        valueFrom:
          secretKeyRef:
            name: unifi-credentials
            key: UNIFI_API_KEY
    livenessProbe:
      httpGet:
        path: /healthz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /readyz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
