---
common:
  loadBalancerIP: "192.168.2.95"
jackett:
  version: "0.20.233"  # application-version-from-github: Jackett/Jackett
  image: "linuxserver/jackett:0.20.233"  # application-image-from-github: Jackett/Jackett
  namespace: multimedia
  resources:
    requests:
      cpu: 2400m  # TODO: Figure out how to reduce it. This is insane.
      memory: 200Mi
    limits:
      cpu: 3000m
      memory: 350Mi
  pvcSpec: 
    storageClassName: "managed-nfs-storage"
    accessModes: ["ReadWriteOnce"]
    resources:     
      requests:
        storage: "300Mi"
ombi:
  version: "4.3.3"  # application-version-from-github: Ombi-app/Ombi
  image: "linuxserver/ombi:4.3.3"  # application-image-from-github: Ombi-app/Ombi
  namespace: multimedia
  domain: ombi.ankhmorpork.thaum.xyz
  resources:
    requests:
      cpu: 10m
      memory: 250Mi
    limits:
      cpu: 100m
      memory: 500Mi
  pvcSpec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 600Mi
    storageClassName: managed-nfs-storage
#exportarr:
#  version: "0.6.2"  # application-version-from-github: onedr0p/exportarr
#  image: "ghcr.io/onedr0p/exportarr:v0.6.2"  # application-image-from-github: onedr0p/exportarr
