apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  creationTimestamp: null
  name: github-webhook-token
  namespace: flux-system
spec:
  data:
  - remoteRef:
      key: FLUX_GITHUB_TOKEN
    secretKey: token
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-auth-api
  target:
    name: github-webhook-token
