apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    app.kubernetes.io/instance: flux-system
    app.kubernetes.io/part-of: flux
  name: flux-system
  namespace: flux-system
spec:
  namespaceSelector:
    matchNames:
    - flux-system
  podMetricsEndpoints:
  - honorLabels: true
    metricRelabelings:
    - action: drop
      regex: rest_client_request_latency_seconds.*
      sourceLabels:
      - __name__
    port: http-prom
  selector:
    matchExpressions:
    - key: app
      operator: In
      values:
      - helm-controller
      - source-controller
      - kustomize-controller
      - notification-controller
      - image-automation-controller
      - image-reflector-controller
