# Config reference: https://github.com/immich-app/immich-charts/tree/main/charts/immich

controllers:
  main:
    containers:
      main:
        image:
          tag: "v2.3.1"
        env:
          TZ: "Europe/Warsaw"
          LOG_LEVEL: "debug"
          DB_HOSTNAME: "postgres-rw"
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: postgres-user
                key: username
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: postgres-user
                key: password
          DB_DATABASE_NAME: "immich"
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-library

valkey:
  enabled: true
  persistence:
    data:
      enabled: false
      size: 1Gi
      type: emptyDir
      accessMode: ReadWriteOnce

server:
  controllers:
    main:
      replicas: 3
      strategy: RollingUpdate
      rollingUpdate:
        unavailable: 1
      containers:
        main:
          probes:
            liveness:
              spec:
                initialDelaySeconds: 180
                failureThreshold: 6
            readiness:
              spec:
                failureThreshold: 2
                periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 160Mi

  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        reloader.homer/group: Ankh Cloud
        reloader.homer/logo: https://raw.githubusercontent.com/loganmarchione/homelab-svg-assets/refs/heads/main/assets/immich.svg
        reloader.homer/name: Immich
        reloader.homer/subtitle: Photo & Video Library
      labels:
        probe: enabled
        reloader.homer/enabled: "true"
      hosts:
        - host: photos.krupa.net.pl
          paths:
            - path: "/"
      tls:
        - secretName: immich-tls
          hosts:
            - photos.krupa.net.pl
  persistence:
    old:
      enabled: false
      accessMode: ReadWriteMany
      readOnly: true
      mountPath: /old
      existingClaim: library-old

machine-learning:
  enabled: true
  controllers:
    main:
      replicas: 1
      strategy: RollingUpdate
      rollingUpdate:
        unavailable: 1
      containers:
        main:
          env:
            HF_XET_CACHE: /cache/huggingface-xet
            MPLCONFIGDIR: /cache/matplotlib-config
          resources:
            requests:
              cpu: 10m
              memory: 780Mi
  persistence:
    cache:
      enabled: true
      size: 3Gi
      type: persistentVolumeClaim
      accessMode: ReadWriteMany
      storageClass: longhorn-r2
