apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: smokeping
    app.kubernetes.io/version: 0.7.1
  name: smokeping
  namespace: monitoring
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/component: exporter
      app.kubernetes.io/name: smokeping
  template:
    metadata:
      annotations:
        parca.dev/scrape: "true"
      labels:
        app.kubernetes.io/component: exporter
        app.kubernetes.io/name: smokeping
        app.kubernetes.io/version: 0.7.1
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - smokeping
                topologyKey: kubernetes.io/hostname
              weight: 100
      containers:
        - args:
            - 8.8.8.8
            - 1.1.1.1
            - lancre.thaum.xyz
            - ankhmorpork.thaum.xyz
          image: quay.io/superq/smokeping-prober:v0.7.1
          name: smokeping
          ports:
            - containerPort: 9374
              name: http
          readinessProbe:
            failureThreshold: 5
            initialDelaySeconds: 1
            tcpSocket:
              port: http
            timeoutSeconds: 10
          resources:
            limits:
              memory: 70Mi
            requests:
              cpu: 40m
              memory: 30Mi
          securityContext:
            capabilities:
              add:
                - NET_RAW
      serviceAccountName: smokeping
