---
kured:
  version: "1.7.0"  # application-version-from-github: weaveworks/kured
  image: "quay.io/paulfantom/kured:1.7.0"  # application-image-from-github: weaveworks/kured
  namespace: "system-update"
  args:
    - "--reboot-days=sun,fri,sat"
    - "--period=2m"