---
kured:
  version: "1.9.2"  # application-version-from-github: weaveworks/kured
  image: "quay.io/paulfantom/kured:1.9.2"  # application-image-from-github: weaveworks/kured
  namespace: "system-update"
  args:
    - "--reboot-days=sun,fri,sat"
    - "--period=2m"
  resources:
    requests:
      cpu: 14m
      memory: 23Mi
    limits:
      cpu: 60m
      memory: 30Mi
