apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: thanos-objectstorage
spec:
  data:
    - remoteRef:
        key: THANOS_MINIO_ACCESS_KEY
      secretKey: access_key
    - remoteRef:
        key: THANOS_MINIO_SECRET_KEY
      secretKey: secret_key
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-auth-api
  target:
    template:
      data:
        objstore.yml: |-
          type: S3
          config:
            bucket: minio-ankhmorpork-thaum-xyz
            endpoint: s3.eu-central-003.backblazeb2.com
            access_key: {{ .access_key }}
            secret_key: {{ .secret_key }}
          prefix: thanos
