apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: datalake-metrics
resources:
  - repository.yaml
  - release.yaml
  - bucket-config.yaml
  - ingress-middleware-auth.yaml
  - ingress-auth.yaml
  - grafana-datasource.yaml
  - prometheus-rules.yaml
  - slo-receive-errors.yaml
  - slo-receive-latency.yaml
configMapGenerator:
  - name: values
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
