apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-backup
  namespace: multimedia
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: qnap-nfs-storage
