---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: transmission
  namespace: multimedia
spec:
  podMetricsEndpoints:
  - interval: 60s
    port: metrics
  selector:
    matchLabels:
      app.kubernetes.io/name: transmission
