apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: torrents-incomplete
  namespace: multimedia
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 70Gi
  storageClassName: local-path
