apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: homeassistant
    app.kubernetes.io/part-of: homeassistant
    app.kubernetes.io/version: 2022.6.7
    prometheus: k8s
    role: alert-rules
  name: homeassistant
  namespace: homeassistant
spec:
  groups:
  - name: homeassistant.alerts
    rules:
    - alert: HomeAssistantDown
      annotations:
        description: Home Assistant instance {{ $labels.instance }} is down
        summary: Home Assistant is down
      expr: up{job=~"homeassistant.*"} == 0
      for: 30m
      labels:
        priority: P1
        severity: critical
