apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: homeassistant
    app.kubernetes.io/part-of: homeassistant
    app.kubernetes.io/version: 2022.2.9
  name: homeassistant
  namespace: homeassistant
spec:
  endpoints:
  - bearerTokenSecret:
      key: token
      name: credentials
    interval: 90s
    path: /api/prometheus
    port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: server
      app.kubernetes.io/name: homeassistant
      app.kubernetes.io/part-of: homeassistant
