apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pocket-id-cloudflare
  namespace: pocket-id
spec:
  ingressClassName: cloudflare
  rules:
  - host: login.krupa.net.pl
    http:
      paths:
      - backend:
          service:
            name: pocket-id
            port:
              number: 80
        path: /
        pathType: ImplementationSpecific
