apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pocket-id
resources:
  - repository.yaml
  - release.yaml
  - pg-connection.yaml
  - serviceMonitor.yaml
configMapGenerator:
  - name: values
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
