apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: plex_exporter
  name: plex
  namespace: multimedia
spec:
  podMetricsEndpoints:
  - interval: 120s
    port: metrics
  selector:
    matchLabels:
      app.kubernetes.io/component: exporter
      app.kubernetes.io/name: plex_exporter
