apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: uptimerobot
    app.kubernetes.io/version: master
  name: uptimerobot
  namespace: monitoring
spec:
  ports:
  - name: http
    port: 7979
    targetPort: http
  selector:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: uptimerobot
