apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  labels:
    app.kubernetes.io/name: postgres
  name: postgres
  namespace: paperless
spec:
  backupOwnerReference: self
  cluster:
    name: postgres
  schedule: 0 36 22 * * *
  suspend: false
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
