apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  labels:
    app.kubernetes.io/name: postgres
  name: postgres
  namespace: paperless
spec:
  affinity:
    enablePodAntiAffinity: true
    podAntiAffinityType: required
    topologyKey: kubernetes.io/hostname
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: minio
  bootstrap:
    initdb:
      database: paperless
      owner: paperless
      secret:
        name: postgres-user
  instances: 3
  primaryUpdateMethod: switchover
  monitoring:
    enablePodMonitor: true
  resources:
    limits:
      cpu: 200m
    #  memory: 800Mi
    requests:
      cpu: 100m
      memory: 400Mi
  storage:
    size: 20Gi
    storageClass: lvm-thin
  superuserSecret:
    name: postgres-admin
