apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: node-exporter
    app.kubernetes.io/part-of: qnap
  name: node-exporter-qnap
  namespace: monitoring
subsets:
- addresses:
  - ip: 192.168.2.29
  ports:
  - name: http
    port: 9100
