---
name: kubeconform

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  golang-version: 1.25.5

jobs:
  apps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@v6
        with:
          go-version: '${{ env.golang-version }}'
      - run: go install github.com/yannh/kubeconform/cmd/kubeconform@latest
      # - run: ./hack/generate-schemas.sh
      - run: >
          kubeconform
          -schema-location 'https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/{{ .NormalizedKubernetesVersion }}-standalone{{ .StrictSuffix }}/{{ .ResourceKind }}.json'
          #-schema-location '.crdschemas/{{ .ResourceKind }}.json'
          #-skip CustomResourceDefinition
          -skip CustomResourceDefinition,ServiceMonitor,PodMonitor,Probe,Prometheus,Alertmanager
          -ignore-filename-pattern vendor/*
          -ignore-filename-pattern jsonnet/*
          -summary
          apps/
  base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@v6
        with:
          go-version: '${{ env.golang-version }}'
      - run: go install github.com/yannh/kubeconform/cmd/kubeconform@latest
      # - run: ./hack/generate-schemas.sh
      - run: >
          kubeconform
          -schema-location 'https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/{{ .NormalizedKubernetesVersion }}-standalone{{ .StrictSuffix }}/{{ .ResourceKind }}.json'
          #-schema-location '.crdschemas/{{ .ResourceKind }}.json'
          #-skip CustomResourceDefinition,Plan,Application,AppProject,ClusterIssuer
          -skip CustomResourceDefinition,Plan,Application,AppProject,ClusterIssues,ServiceMonitor,PodMonitor
          -ignore-filename-pattern vendor/*
          -ignore-filename-pattern jsonnet/*
          -summary
          base/
