---
name: prom-rules

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  golang-version: 1.25.4

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: '${{ env.golang-version }}'
      - run: go install github.com/brancz/gojsontoyaml@latest
      - run: PATH="${PATH}:${GITHUB_WORKSPACE}" ./hack/unpack-prometheus-rules.sh
      - name: Run pint
        uses: prymitive/pint-action@v1
        with:
          token: ${{ github.token }}
          # directory containing Prometheus rules
          workdir: 'tmp/rules'
