---
name: secrets

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Import environment variables
        run: cat ".github/env" >> $GITHUB_ENV
      - uses: actions/setup-go@v2
        with:
          go-version: '${{ env.golang-version }}'
      - run: go install github.com/brancz/gojsontoyaml@latest
      - run: sudo apt update && sudo apt install -y jq
      - run: make secrets
